<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	一、WMI硬件系列
	1.1 CPU 处理器（Win32_Processor）
	数据类型	属性值	名称
	uint16	AddressWidth	地址宽度
	uint16	Architecture	所使用的平台的处理器架构
	string	AssetTag	该处理器的资产标签
	uint16	Availability	设备的状态
	string	Caption	CPU的简短描述
	uint32	Characteristics	处理器支持定义的功能
	uint32	ConfigManagerErrorCode	Windows API的配置管理器错误代码
	boolean	ConfigManagerUserConfig	如果为TRUE，该装置是使用用户定义的配置
	uint16	CpuStatus	处理器的当前状态
	string	CreationClassName	出现在用来创建一个实例继承链的第一个具体类的名称
	uint32	CurrentClockSpeed	处理器的当前速度，以MHz为单位
	uint16	CurrentVoltage	处理器的电压
	uint16	DataWidth	在32位处理器，该值是32，在64位处理器是64
	string	Description	CPU的简短描述
	string	DeviceID	在系统上的处理器的唯一标识符
	boolean	ErrorCleared	如果为真，报上一个错误代码的被清除
	string	ErrorDescription	错误的代码描述
	uint32	ExtClock	外部时钟频率，以MHz为单位
	uint16	Family	处理器系列类型
	datetime	InstallDate	安装日期
	uint32	L2CacheSize	二级缓存大小
	uint32	L2CacheSpeed	二级缓存处理器的时钟速度
	uint32	L3CacheSize	三级缓存的大小
	uint32	L3CacheSpeed	三级缓存处理器的时钟速度
	uint32	LastErrorCode	报告的逻辑设备上一个错误代码
	uint16	Level	处理器类型的定义。该值取决于处理器的体系结构
	uint16	LoadPercentage	每个处理器的负载能力，平均到最后一秒
	string	Manufacturer	处理器的制造商
	uint32	MaxClockSpeed	处理器的最大速度，以MHz为单位
	string	Name	处理器的名称
	uint32	NumberOfCores	为处理器的当前实例的数目。
	uint32	NumberOfEnabledCore	每个处理器插槽启用的内核数
	uint32	NumberOfLogicalProcessors	用于处理器的当前实例逻辑处理器的数量
	string	OtherFamilyDescription	处理器系列类型
	string	PartNumber	这款处理器的产品编号制造商所设置
	string	PNPDeviceID	即插即用逻辑设备的播放设备标识符
	uint16	PowerManagementCapabilities	逻辑设备的特定功率相关的能力阵列
	boolean	PowerManagementSupported	如果为TRUE，该装置的功率可以被管理，这意味着它可以被放入挂起模式
	string	ProcessorId	描述处理器功能的处理器的信息
	uint16	ProcessorType	处理器的主要功能
	uint16	Revision	系统修订级别取决于体系结构
	string	Role	所述处理器的作用
	boolean	SecondLevelAddressTranslationExtensions	如果为True，该处理器支持用于虚拟地址转换扩展
	string	SerialNumber	处理器的序列号
	string	SocketDesignation	芯片插座的线路上使用的类型
	string	Status	对象的当前状态
	uint16	StatusInfo	对象的当前状态信息
	string	Stepping	在处理器家族处理器的版本
	string	SystemCreationClassName	创建类名属性的作用域计算机的价值
	string	SystemName	系统的名称
	uint32	ThreadCount	每个处理器插槽的线程数
	string	UniqueId	全局唯一标识符的处理器
	uint16	UpgradeMethod	CPU插槽的信息
	string	Version	依赖于架构处理器的版本号
	boolean	VirtualizationFirmwareEnabled	如果真，固件可以虚拟化扩展
	boolean	VMMonitorModeExtensions	如果为True，该处理器支持Intel或AMD虚拟机监控器扩展。
	uint32	VoltageCaps	该处理器的电压的能力

</configuration>